# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# Virtual environment
tf_env/

# =========================
# Dataset
# =========================
Dataset/

# =========================
# Generated/cache files
# =========================
cache/

# =========================
# Large / generated results
# =========================
*.csv
*.rar

# =========================
# Optional: generated images
# =========================
*.png